{
    auto_https off
}

(common_log) {
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

(secure_headers) {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "no-referrer-when-downgrade"
    }
}

(ban_bot) {
    @badbot {
        header_regexp User-Agent `Browser\d+/`
    }
    respond @badbot 403
}

(common_proxy) {
    import secure_headers
    import ban_bot

    reverse_proxy http://15.235.162.136:80 {
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
    }
}

http://trivexcapt.com http://www.trivexcapt.com http://app.trivexcapt.com {
    import common_log
    import common_proxy
}

http://trivxcapt.com http://www.trivxcapt.com {
    import common_log
    import common_proxy
}
